@mixin b-h1 {
  font-family: Gerbera;
  font-size: 30px;
  line-height: 40px;
}

@mixin b-h2 {
  font-family: Gerbera;
  font-size: 26px;
  line-height: 36px;
}

@mixin b-h3 {
  font-family: Gerbera;
  font-size: 24px;
  line-height: 32px;
}

@mixin b-h4 {
  font-family: Gerbera;
  font-size: 22px;
  line-height: 30px;
}

@mixin b-h5 {
  font-family: Gerbera;
  font-size: 20px;
  line-height: 28px;
}

@mixin b-text-l {
  font-family: Inter;
  font-size: 18px;
  line-height: 28px;
}

@mixin b-text-lb {
  font-family: Inter;
  font-size: 18px;
  line-height: 28px;
  font-weight: bold;
}

@mixin b-text-m {
  font-family: Inter;
  font-size: 15px;
  line-height: 20px;
}

@mixin b-text-mb {
  font-family: Inter;
  font-size: 15px;
  line-height: 20px;
  font-weight: bold;
}

@mixin b-text-s {
  font-family: Inter;
  font-size: 13px;
  line-height: 20px;
}

@mixin b-text-sb {
  font-family: Inter;
  font-size: 13px;
  line-height: 20px;
  font-weight: bold;
}

@mixin b-text-xs {
  font-family: Inter;
  font-size: 11px;
  line-height: 16px;
}

@mixin b-text-xsb {
  font-family: Inter;
  font-size: 11px;
  line-height: 16px;
  font-weight: bold;
}

@mixin b-text-link {
  font-family: Inter;
  color: $b-link;
  text-decoration: none;
  &:hover {
    color: $b-link-hover;
  }
}
