$b-primary: #f26c55;
$b-primary-hover: #f69d8e;
$b-primary-pressed: #cc4f3a;
$b-primary-pale: rgba(242, 108, 85, 0.12);
$b-primary-pale-hover: rgba(242, 108, 85, 0.32);
$b-primary-pale-pressed: rgba(242, 108, 85, 0.48);
$b-secondary: #084242;
$b-secondary-hover: #1b6464;
$b-secondary-pressed: #072e2e;
$b-secondary-pale: rgba(8, 66, 66, 0.12);
$b-base-01: #ffffff;
$b-base-02: #f6f7f8;
$b-base-03: #eaecee;
$b-base-04: #dddfe0;
$b-base-05: #d5d5d5;
$b-base-06: #9299a2;
$b-base-07: #5c636b;
$b-base-08: #333333;
$b-base-09: #000000;
$b-link: #ef553b;
$b-link-hover: #f27b67;
$b-primary-label: #000000;
$b-secondary-label: rgba(60, 60, 67, 0.6);
$b-tertiary-label: rgba(60, 60, 67, 0.3);
$b-primary-label-inverse: #ffffff;
$b-secondary-label-inverse: rgba(255, 255, 255, 0.6);
$b-tertiary-label-inverse: rgba(255, 255, 255, 0.3);
$b-negative: #c70000;
