$b-primary: #F26C55;
$b-primary-hover: #F69D8E;
$b-primary-pressed: #CC4F3A;
$b-primary-pale: rgba(242, 108, 85, 0.12);
$b-primary-pale-hover: rgba(242, 108, 85, 0.32);
$b-primary-pale-pressed: rgba(242, 108, 85, 0.48);
$b-secondary: #084242;
$b-secondary-hover: #1B6464;
$b-secondary-pressed: #072E2E;
$b-secondary-pale: rgba(8, 66, 66, 0.12);
$b-base-01: #ffffff;
$b-base-02: #F6F7F8;
$b-base-03: #EAECEE;
$b-base-04: #DDDFE0;
$b-base-05: #D5D5D5;
$b-base-06: #9299A2;
$b-base-07: #5C636B;
$b-base-08: #333333;
$b-base-09: #000000;