// Цвета
$b-primary: #f26c55;
$b-primary-hover: #f69d8e;
$b-primary-pressed: #cc4f3a;
$b-primary-pale: #faedea;
$b-primary-pale-hover: #f3d1c9;
$b-primary-pale-pressed: rgba(242, 108, 85, 0.48);
$b-secondary: #084242;
$b-secondary-hover: #1b6464;
$b-secondary-pressed: #072e2e;
$b-secondary-pale: rgba(8, 66, 66, 0.12);
$b-base-01: #ffffff;
$b-base-02: #f6f7f8;
$b-base-03: #eaecee;
$b-base-04: #dddfe0;
$b-base-05: #d5d5d5;
$b-base-06: #9299a2;
$b-base-07: #5c636b;
$b-base-08: #333333;
$b-base-09: #000000;
$b-base-09-10: rgba(0, 0, 0, 0.1);
$b-base-09-20: rgba(0, 0, 0, 0.2);
$b-base-09-30: rgba(0, 0, 0, 0.3);
$b-night-base-02: #292929;
$b-link: #ef553b;
$b-link-hover: #f27b67;
$b-primary-label: #000000;
$b-secondary-label: rgba(60, 60, 67, 0.6);
$b-tertiary-label: rgba(60, 60, 67, 0.3);
$b-primary-label-inverse: #ffffff;
$b-secondary-label-inverse: rgba(255, 255, 255, 0.6);
$b-tertiary-label-inverse: rgba(255, 255, 255, 0.3);
$b-negative: #c70000;
$b-support-101: #fbcec6;
$b-support-102: #f69d8e;
$b-support-103: #f26c55;
$b-support-104: #c70000;
$b-support-201: #ffedc9;
$b-support-202: #ffde9a;
$b-support-203: #ffd074;
$b-support-204: #b18542;
$b-support-301: #ddf2e7;
$b-support-302: #8ad2ad;
$b-support-303: #5cc08d;
$b-support-304: #084242;
$b-support-401: #e9f7ff;
$b-support-402: #c4e8fc;
$b-support-403: #6ec0ec;
$b-support-404: #6ec0ec;
$b-support-501: #f4ecfd;
$b-support-502: #dfd0f0;
$b-support-503: #7d659c;
$b-support-504: #533b73;
$b-support-601: #f3ebe1;
$b-support-602: #d8be9e;
$b-support-603: #8a7356;
$b-support-604: #50473b;
